/****** START: Faunalia styles **********/
body {
  font-size: 14px;
  color: #555;
}

h3 {
  font-size: 22px;
}

.navbar {
  margin: 0;
}

.navbar .nav {
  margin-top: 20px;
  background-color: none;
  padding-right: 15px;
  border-radius: 6px;
}

.centered {
  text-align: center;
}

a:hover, a:active, a:focus {
  outline: 0;
}

a {
  color: #217AEE;
  text-decoration: none;
}

.navbar-inverse .nav > li > a {
  text-shadow: none;
  color: #555;
  text-transform: uppercase;
}

.navbar-inverse .nav > li > a:hover {
  color: #555;
  text-decoration: underline;
}

.navbar-inverse .navbar-inner {
  box-shadow: none;
  background: url('../_static/debut_light.png');
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid #86BD46;
}

.brand > img {
  width: 120px;
  height: 60px;
}

.hero-unit {
  text-align: center;
  background: #49afcd;
  color: #fff;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.hero-unit h1 {
  margin-bottom: 10px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 3px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px -4px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  font-size: 70px;
}

.main-container {
  padding: 50px 0; 
  min-height: 450px;
}

.marketing {
  width: 90%;
  margin: 0 auto;
}

.marketing .section.span4 {
  border: 1px solid #ddd;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  padding-bottom: 20px;
  -webkit-box-shadow: 0 8px 6px -6px #ccc;
  -moz-box-shadow: 0 8px 6px -6px #ccc;
  box-shadow: 0 8px 6px -6px #ccc;
}

.marketing .section > p {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 20px 10px 0;
  line-height: 30px;
}

.marketing h1, .marketing h2 {
  text-align: center;
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  background: #fcfcfc;
}

.vertical-space {
  margin-top: 50px;
}

.sub-pages h1 {
  margin-top: 0;
}

ul li {
  margin-bottom: 8px;
}

.language-switch {
  padding-bottom: 5px;
  background: #ccc;
}

#locales {
  list-style: none;
}

#locales li {
  float: left;  
  padding: 5px 10px;
  cursor: pointer;
}

a.map {
  display: inline-block;
}

.staff-img {
  margin-right:  40px !important;
}

.footer-upper {
  padding-bottom: 10px;
}

.footer-upper h3 {
  display: inline-block;
  border-bottom: 1px dotted #fff;
  color: #fff;
}

.footer-upper, .footer {
  background: #3B3934;
}

.footer-upper, .footer-upper a,
.footer {
  color: #fff;
}

.footer-upper p {
  margin-bottom: 0;
}

.footer {
  border-top: 1px solid #000;
  padding: 5px 0;
  text-align: center;
}

.related {
  display: none;
}
/****** END: Faunalia styles ************/
@media (max-width: 767px){

}
@media (max-width: 480px) {

}
@media (min-width: 768px) and (max-width: 979px) {

}
@media (min-width: 1200px) {

}
@media (max-width: 979px) {

}
